.single-task-page {
    background-color: var(--bg-color);
}

.single-task-container {
    border: dashed 2px var(--primary-color);
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 84vh;
    border-radius: 1rem;
    padding: 1rem;
}

.btn {
    padding: 5px 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: var(--bg-color);
    cursor: pointer;
}

.btn-start {
    background-color: var(--primary-color);
}

.btn-pause {
    background-color: var(--hover-color);

}

.btn-reset {
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 800px) {
    .single-task-container {
        grid-template-columns: 100%;
    }
}
