@import url("./index.css");
@import url("./styles/media.css");

:root {
    --bg-color: #F3E1CD;
    --primary-color: #E71466;
    --secondary-color: #00898F;
    --hover-color: #FF8354;
    --white-color: #ffffff;
    --black-color: #000000;
}

.App{
    color: var(--primary-color);
}